<h1>Hi new user lets sign you up!</h1>

<%= form_with model: @user, url: sign_up_path, data: { turbo: "false" } do |form| %>
    <% if @user.errors.any? %>
        <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |message| %>
                <div><%= message %></div>
            <% end %>
        </div>
    <% end %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "john.doe@example.com" %>
    </div>
    <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control", placeholder: "(needed for organizers only)" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>
    <div class="mb-3">
        <%= form.radio_button :role, "participant" %>
        <%= form.label :role_participant, "I want to join meetups" %>
        <%= form.radio_button :role, "organizer" %>
        <%= form.label :role_organizer, "I want to oragnize meetups" %>
    </div>
    <div class="mb-3">
        <%= form.submit "Create account", class: "btn btn-primary" %>
    </div>
<% end %>

