<h1>Hi new orginzer!</h1>

<%= form_with model: @organizer, url: sign_up_organizer_path, data: { turbo: "false" } do |form| %>
    <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :email, class: "form-control", placeholder: "BestMeetUps s.r.o" %>
    </div>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "john.doe@example.com" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <div class="mb-3">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>
    <div class="mb-3">
        <%= form.submit "Sign up!", class: "btn btn-primary" %>
<% end %>